* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5fb !important;
  overscroll-behavior-y: none;
  background-color: #fafafa;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* p span::-moz-selection{background-color: rgba(161, 238, 110, 0.842);color: rgb(28, 88, 0);}
p span::selection{background-color: rgba(161, 238, 110, 0.842);color: rgb(3, 83, 7);}
p::-moz-selection{background-color: rgba(161, 238, 110, 0.842);color: rgb(28, 88, 0);}
p::selection{background-color: rgba(161, 238, 110, 0.842);color: rgb(3, 83, 7);}
::-moz-selection{background-color: rgba(161, 238, 110, 0.842);}
::selection{background-color: rgba(161, 238, 110, 0.842);} */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5a4a4;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

.btn-outline-primary {
  color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
          box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #027e4e;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #048d58;
  border-color: #048d58;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  /* color: #048d58; */
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
          box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.6);
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  background-color: #169e6a;
  border-color: #048d58;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
          box-shadow: 0 0 0 0.2rem rgba(4, 141, 88, 0.502);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #68f3be;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #aafcdd;
  border-color: #aafcdd;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
  color: #5d746b;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9f0ee;
}

.my-btn {
  margin: 0 auto;
  font: 17px lato;
  -webkit-transition: 280ms linear;
  transition: 280ms linear;
  padding: 18px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #048d58;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
}

.bubbly-button:focus {
  outline: 0;
}

.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #048d58 20%, transparent 20%), radial-gradient(circle, transparent 25%, #048d58 30%, transparent 30%), radial-gradient(circle, #048d58 25%, transparent 25%), radial-gradient(circle, #048d58 20%, transparent 20%), radial-gradient(circle, transparent 20%, #048d58 25%, transparent 25%), radial-gradient(circle, #048d58 20%, transparent 20%), radial-gradient(circle, #048d58 20%, transparent 20%), radial-gradient(circle, #048d58 27%, transparent 27%), radial-gradient(circle, #048d58 27%, transparent 27%);
  background-size: 15% 15%, 25% 25%, 20% 20%, 25% 25%, 23% 23%, 15% 15%, 20% 15%, 15% 15%, 23% 23%;
}

.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #048d58 30%, transparent 30%), radial-gradient(circle, #048d58 25%, transparent 25%), radial-gradient(circle, transparent 15%, #048d58 15%, transparent 20%), radial-gradient(circle, #048d58 25%, transparent 25%), radial-gradient(circle, #048d58 30%, transparent 30%), radial-gradient(circle, #048d58 30%, transparent 30%), radial-gradient(circle, #048d58 25%, transparent 25%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.bubbly-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #037449;
  -webkit-box-shadow: 0 2px 25px rgba(0, 255, 149, 0.2);
          box-shadow: 0 2px 25px rgba(0, 255, 149, 0.2);
}

.bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  line-break: auto;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: 0.5px;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  font-size: 13px;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #161616e8;
}

.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #161616e8;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #161616e8;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #161616e8;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #161616e8;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #161616e8;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #161616e8;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #161616e8;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #161616e8;
  border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.left-sidebar {
  border-right: 1px solid #e6e6e6;
  width: 300px;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fafafa;
}

.left-sidebar .branding {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  width: 100%;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-sidebar .branding .logo {
  margin: 3px 18px 0px 0px;
  width: 70px;
  height: 50px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-sidebar .branding .logo img {
  width: 70px;
  height: 50px;
}

.left-sidebar .branding .branding-name {
  text-align: center;
  background-color: #fafafa;
  font-weight: bold;
  font-family: Merriweather;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.left-sidebar .branding .branding-name .line-1 {
  font-size: 16px;
}

.left-sidebar .branding .branding-name .line-2 {
  font-size: 13px;
}

.left-sidebar .options {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px;
  background-color: #fafafa;
}

.left-sidebar .options .option {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0px 0px 0px 65px;
  margin: 10px auto;
  border-radius: 10px;
  background-color: #fafafa;
  -webkit-transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.left-sidebar .options .option.active {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  background-color: rgba(233, 241, 239, 0.959);
}

.left-sidebar .options .option.active > .option-name {
  color: #1a0142;
}

.left-sidebar .options .option.active > .icon {
  color: #048d58 !important;
}

.left-sidebar .options .option.active > .indicator {
  position: absolute;
  border-radius: 5px 0 0 5px;
  right: -14px;
  width: 10px;
  height: 90%;
  background-color: #048d58;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.left-sidebar .options .option:hover {
  background-color: rgba(232, 243, 240, 0.767);
  cursor: pointer;
}

.left-sidebar .options .option .icon {
  width: 100%;
  width: 29px;
  height: 29px;
  background-color: rgba(250, 250, 250, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  color: #00bd74 !important;
}

.left-sidebar .options .option .option-name {
  font-size: 12.5px;
  font-weight: bold;
  font-family: Merriweather;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #048d58;
  color: #360c79;
}

.left-sidebar .get-app-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px;
  padding-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 36px;
}

.left-sidebar .get-app-section .app-card {
  width: 100%;
  background-color: rgba(233, 241, 239, 0.959);
  padding: 17px 20px;
  border-radius: 10px;
}

.left-sidebar .get-app-section .app-card .logo {
  width: 100%;
  height: 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.left-sidebar .get-app-section .app-card .logo img {
  position: absolute;
  bottom: -10px;
  height: 120px;
}

.left-sidebar .get-app-section .app-card .get-app-text {
  font-size: 12.5px;
  font-weight: bold;
  font-family: Merriweather;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #048d58;
  color: #3a9c61;
  margin-bottom: 12px;
}

.left-sidebar .get-app-section .app-card .download-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  background-color: #8ad5ac;
  border-radius: 10px;
  color: #267e49;
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
  font-family: Lato;
  letter-spacing: 0.8px;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.left-sidebar .get-app-section .app-card .download-button:hover {
  color: #1c7540;
  background-color: #77cc9d;
}

.main-sc {
  width: calc(100% - 300px);
  height: auto;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 300px;
  z-index: 1;
  padding: 35px 80px;
  background-color: #f5f5fb;
}

.main-sc .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 35px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sc .header .header-left-text {
  font-size: 16.5px;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.main-sc .header .header-right-text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-sc .header .header-right-text #date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14.5px;
  font-family: Lato;
  margin: 0 4px;
  vertical-align: middle;
  font-weight: bold;
  color: #88889c;
}

.main-sc .header .header-right-text i {
  margin-bottom: 1px;
  color: #8d8da4;
}

.main-sc .welcome-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7e5e9;
  border-radius: 10px;
  padding: 35px 70px 35px 70px;
}

.main-sc .welcome-card .content {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Lato;
}

.main-sc .welcome-card .content .welcome-text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18.5px;
  font-family: Merriweather;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #fe5a69;
  margin-bottom: 14px;
}

.main-sc .welcome-card .content .welcome-subtext {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-sc .welcome-card .content .welcome-subtext .line {
  font-size: 14px;
  font-family: Merriweather;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #303030;
}

.main-sc .welcome-card .content .welcome-subtext .last-visit {
  margin-top: 2px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #3d3d3d;
}

.main-sc .welcome-card .illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-sc .welcome-card .illustration .img-1 {
  max-width: 280px;
  max-height: 250px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 10px;
}

.main-sc .welcome-card .illustration .img-2 {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
}

.main-sc .hash-block {
  width: 100%;
  padding: 25px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f3;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sc .hash-block .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  border: 0.12rem solid #aeaeb396;
  border-radius: 10px;
}

.main-sc .hash-block .field .label {
  padding: 0 15px;
  height: 100%;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Merriweather;
  font-weight: bold;
  letter-spacing: 0.8px;
  color: #3d3d3d;
  background-color: #e1e1e2;
  border-radius: 8px 0 0 8px;
}

.main-sc .hash-block .field .hash-field {
  height: 100%;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  line-height: 2.1;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid #aeaeb3c2;
  border-right: 1px solid #aeaeb3c2;
}

.main-sc .hash-block .field .hash-field input {
  margin: 0px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
}

.main-sc .hash-block .field .hash-field input::-moz-selection {
  padding: 3px;
  background-color: rgba(202, 202, 202, 0.719);
}

.main-sc .hash-block .field .hash-field input::selection {
  padding: 3px;
  background-color: rgba(202, 202, 202, 0.719);
}

.main-sc .hash-block .field .hash-field .hash-text {
  width: 100%;
  display: block;
  font-size: 15px;
  font-family: lato;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3d3d3d;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  -o-user-select: initial;
  user-select: text;
}

.main-sc .hash-block .field .copy-button {
  height: 100%;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-family: Merriweather;
  font-weight: bold;
  letter-spacing: 0.8px;
  border-radius: 0 8px 8px 0;
  background-color: #e7e7ec;
  color: #3d3d3d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-sc .hash-block .field .copy-button:hover {
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  background-color: #d9d9db;
}

.main-sc .files-block {
  width: 100%;
  padding: 25px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e8efee;
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-sc .files-block .files-header {
  width: 100%;
  margin-bottom: 15px;
}

.main-sc .files-block .files-header .heading {
  font-size: 16.5px;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 0.7px;
}

.main-sc .files-block .files-header .count {
  font-size: 13.5px;
  font-weight: bold;
  color: #3d3d3d;
  padding: 0.3px 6px 1.3px 6px;
  border-radius: 50px;
  background-color: #d9d9db;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.main-sc .files-block .files {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-sc .files-block .files .file_card {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  border: 0.11rem solid #c4d5ca;
  margin: 8px;
}

.main-sc .files-block .files .file_card .icon {
  border-radius: 8px 0 0 8px;
  background-color: #e9e0d6;
}

.main-sc .files-block .files .file_card .icon img {
  height: 80px;
  width: 80px;
  padding: 10px;
}

.main-sc .files-block .files .file_card .vertical-divider {
  width: 1px;
  height: 100%;
  background-color: #aeaeb367;
}

.main-sc .files-block .files .file_card .right-side {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  padding: 10px;
  text-align: right;
  height: 100%;
}

.main-sc .files-block .files .file_card .right-side .file_name {
  width: 100%;
  font-size: 13px;
  font-family: Merriweather;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #116633;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-sc .files-block .files .file_card .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-sc .files-block .files .file_card .options .option {
  padding: 4px;
}

.main-sc .files-block .files .file_card .options .option .fa {
  font-size: 16px;
  color: #2f8f55;
}

.main-sc .files-block .files .file_card .options .option:hover > .fa {
  cursor: pointer;
  color: #19723d;
}

.copy-button + .tooltip .tooltip-inner {
  width: 138px;
}
/*# sourceMappingURL=Main.css.map */