<html>
   <head>
        <link rel="stylesheet" type="text/css" href="static\css\Bootstrap\css\bootstrap.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="static\css\Bootstrap\css\bootstrap-grid.css"> -->
        <link rel="stylesheet" type="text/css" href="static\css\Bootstrap\css\bootstrap-grid.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="static\css\Bootstrap\css\bootstrap-reboot.css"> -->
        <link rel="stylesheet" type="text/css" href="static\css\Bootstrap\css\bootstrap-reboot.min.css">
   </head>
   <body>
      <div class="container">
         <div class="m-5">
            <div class="row">
               <div class="col-md-12">
                  <h3>Upload Transcript</h3><br>
                  <form action = "./upload" method = "POST" enctype = "multipart/form-data">
                     <div class="form-group">
                      <input type="file" name="file" class="form-control-file" id="FormControlFile1">
                    </div>
                     <div class="input-group mb-3">
                       <div class="input-group-prepend">
                         <span class="input-group-text" id="basic-addon1">@</span>
                       </div>
                       <input type="text" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                     </div>
                     <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
               </div>
            </div><br>
<!--            <a href="{{ url_for('get_chain') }}"><button type="button" class="btn btn-outline-info">Get BlockChain</button></a>-->
<!--            <a href="{{ url_for('is_valid') }}"><button type="button" class="btn btn-outline-primary">Check Valid</button></a>-->
         </div>
      </div>
<!--      <div id="upload_status">-->
<!--         {% if upload=="success" %}-->
<!--            <p>File Upload Successful</p>-->
<!--         {% endif %}-->
<!--         {% if upload=="fail" %}-->
<!--            <p>File Upload Failed</p>-->
<!--         {% endif %}-->
<!--      </div>-->
   </body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <script>
      if ("{{upload}}" == "success") alert("File Upload Successful");
      if ("{{upload}}" == "fail") alert("File Upload Failed");
      // $(document).ready(function(){
      //    $("#upload_status").fadeOut(3000);
      // });
   </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="static/Js/bootstrap-js/bootstrap.bundle.js"></script>
    <script src="static/Js/bootstrap-js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="static/Js/bootstrap-js/bootstrap.js"></script> -->
    <script src="static/Js/bootstrap-js/bootstrap.min.js"></script>
</html>